<template name="mainLayout">

  <div class="ui left fixed vertical labeled icon active pointing menu" style="padding-top: 50px;">
    <a href="/" class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="/explore">
      <i class="block layout icon"></i>
      Explore
    </a>
    <a class="item">
      <i class="users icon"></i>
      People
    </a>
    <a href="/{{currentUsername}}" class="item" style="position:absolute;left:0right:0;bottom:0;">
      <i class="user icon"></i>
      Profile
    </a>
  </div>


  {{> top_nav}}

  <div style="padding-top: 80px;">
    <div class="ui four column grid">
      <div class="two wide column"></div>
      <div class="nine wide column">
        {{>Template.dynamic template=feed}}
      </div>
      <div class="one wide column"></div>
      <div class="four wide column" style="padding-right: 50px;">
        {{>Template.dynamic template=sidebar}}
      </div>
    </div>
  </div>
</template>