<template name="top_nav">
  <div class="ui fixed top large menu">
    <div class="menu border-less" style="margin:auto;">
      <h3 class="ui center aligned  header">
        <a href="/" class="item"><strong>READAHOLIC</strong></a>
      </h3> 
    </div>
    <div class="right menu">
        <a class="ui item {{#if activeNotifs}}active{{/if}} js-toggle-notifications">
          <i class="alarm icon"></i>
        </a>
        <a class="ui item {{#if activeChats}}active{{/if}} js-toggle-messages">
          <i class="mail icon"></i>
        </a>
        <div class="ui item">
          <div class="ui small transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
    </div>
  </div>
</template>